
.header-container {
  background-color: #2d2d2d; // Light grey background
  padding: 10px;
  display: flex;
  justify-content: space-between; // Space out elements
  align-items: center; // Center vertically
  .logo-container {
    height: 60px;
    img {
      height: 100%;
    }
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f4f4f8; // Light grey background

  .card-container {
    display: flex;
    flex-direction: column;
    gap: 30px; // Spacing between cards
    width: 40%;
    min-width: 400px;
    .card {
      background-color: #ffffff; // White card background
      border: 1px solid #ddd; // Light grey border
      border-radius: 10px; // Rounded corners
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow
      padding: 20px;

      .card-title {
        font-size: 1.2rem;
        color: #333; // Dark text for contrast
        margin-bottom: 15px; // Spacing under the title
      }

      .card-body {
        display: flex;
        flex-direction: column;
        gap: 10px; // Spacing between elements in card

        .token-data {
          display: flex;
          align-items: center;
          justify-content: space-between; // Space out elements

          .name {
            width: 25%;
            color: #555; // Dark grey text
          }

          .swap-btn {
            --background: #28a745; // Green for swap buttons
          }

          .need-tokens {
            --background: #ffc107; // Yellow for 'Need more?' buttons
          }
        }

      }
      .btn-container {
        margin-top: 20px; // Spacing above buttons
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px; // Spacing between buttons
        width: 100%;
        .lqty {
          --background: #548ada; // Teal color for liquidity buttons
          // width: 100%;
        }
      }
    }
  }
}

.reserves {
  display: flex;
  // space between
  justify-content: space-between;
  color: #555;
}
